# SIS Results

In [1]:
from __future__ import print_function

import tensorflow as tf
import tensorflow.keras as K
import matplotlib.pyplot as plt
import numpy as np
import os
import time

from helpers import *

preprocess imported
module name : helpers module package:

In [2]:
root = os.getcwd()

In [3]:
sis_results = os.path.join(root, 'results', 'SIS')

In [4]:
files = os.listdir(sis_results)
files

['class_1_rnaPCA_upSampled.pkl',
 'RNA PCA_class_2',
 'atac SVD_class_1',
 'atac SVD_class_0',
 'RNA Raw_class_2',
 'class_0_atacSVD_upSampled.pkl',
 'bimodal PCA-SVD_class_2',
 'RNA PCA_class_0',
 'RNA PCA_class_1',
 '.ipynb_checkpoints',
 'atac SVD_class_2',
 'RNA Raw_class_0',
 'RNA Raw_class_1',
 'bimodal PCA-SVD_class_1',
 'bimodal PCA-SVD_class_0']

In [5]:
''' Get all files into dict'''
sis_dict = {}
for f in files:
    if f.startswith('.'): continue
    data = read_pickle(os.path.join(sis_results, f))
    sis_dict[f] = data

In [6]:
sis_dict.keys()

dict_keys(['class_1_rnaPCA_upSampled.pkl', 'RNA PCA_class_2', 'atac SVD_class_1', 'atac SVD_class_0', 'RNA Raw_class_2', 'class_0_atacSVD_upSampled.pkl', 'bimodal PCA-SVD_class_2', 'RNA PCA_class_0', 'RNA PCA_class_1', 'atac SVD_class_2', 'RNA Raw_class_0', 'RNA Raw_class_1', 'bimodal PCA-SVD_class_1', 'bimodal PCA-SVD_class_0'])

### BIMODAL PCA-SVD

In [7]:
sis_dict['bimodal PCA-SVD_class_0'][:10]

   Feature  % occurrence
0    1_rna      0.972727
1    3_rna      0.181818
2    0_rna      0.081818
3       30      0.054545
4   16_rna      0.045455
5       43      0.045455
6       33      0.036364
7  11_atac      0.036364
8   3_atac      0.036364
9       37      0.036364

In [8]:
sis_dict['bimodal PCA-SVD_class_1'][:12]

   Feature  % occurrence
0   0_atac      0.908046
1    6_rna      0.540230
2   1_atac      0.298851
3    2_rna      0.275862
4    8_rna      0.206897
5    0_rna      0.195402
6   10_rna      0.160920
7   11_rna      0.103448
8   16_rna      0.080460
9    3_rna      0.057471
10   1_rna      0.057471
11   4_rna      0.045977

In [9]:
sis_dict['bimodal PCA-SVD_class_2'][:11]

   Feature  % occurrence
0    1_rna      0.952381
1    6_rna      0.247619
2    3_rna      0.180952
3    8_rna      0.114286
4   0_atac      0.104762
5   1_atac      0.066667
6   10_rna      0.066667
7    0_rna      0.057143
8   12_rna      0.038095
9   15_rna      0.038095
10   2_rna      0.019048

### RNA PCA

In [10]:
sis_dict['RNA PCA_class_0']

   Feature  % occurrence
0        1      1.000000
1        3      0.130841
2        6      0.056075
3        7      0.037383
4        8      0.018692
5        0      0.018692
6        4      0.009346
7        2      0.009346
8       25      0.009346
9       15      0.009346

In [11]:
sis_dict['RNA PCA_class_1']

Empty DataFrame
Columns: [Feature, % occurrence]
Index: []

In [12]:
sis_dict['RNA PCA_class_2']

    Feature  % occurrence
0         1      0.921569
1         6      0.343137
2         8      0.117647
3         3      0.078431
4        12      0.058824
5         4      0.039216
6        11      0.029412
7        10      0.029412
8        15      0.029412
9         5      0.019608
10        0      0.019608
11       27      0.009804
12        2      0.009804
13       29      0.009804

### ATAC SVD

In [13]:
sis_dict['atac SVD_class_0'].head()

   Feature  % occurrence
0       40      0.329114
1       34      0.329114
2       41      0.291139
3       18      0.278481
4       29      0.265823

In [14]:
sis_dict['atac SVD_class_1'].head()

   Feature  % occurrence
0        0        0.8125
1       30        0.3125
2       28        0.2500
3       19        0.2500
4       33        0.2500

In [15]:
sis_dict['atac SVD_class_2'].head()

Empty DataFrame
Columns: [Feature, % occurrence]
Index: []

### RNA-seq Marker Genes

In [55]:
de_genes = pd.read_excel(os.path.join(os.getcwd(), 'data','de_genes.xlsx'), sheet_name='Table S2', header=1)

In [94]:
de_genes

,gene_id,gene_short_name,gene_type,num_cells_expressed,proportion_cell_expressed,pval,qval,direction,tpm_0h,tpm_1h,tpm_3h,tpm_fold_change_3h_over_0h
0,ENSG00000143669.9,LYST,protein_coding,937,0.158010,0.000000e+00,0.000000e+00,Transient,111.725743,1965.611392,85.133455,0.764097
1,ENSG00000198300.8,PEG3,protein_coding,113,0.019056,0.000000e+00,0.000000e+00,Transient,0.857132,336.429211,1.634312,1.418484
2,ENSG00000233139.1,RP11-38O23.4,pseudogene,148,0.024958,0.000000e+00,0.000000e+00,Transient,14.048558,748.296757,5.432488,0.427449
3,ENSG00000189337.11,KAZN,protein_coding,465,0.078415,6.388912e-310,2.258800e-306,Decreasing,413.939804,25.406792,20.784048,0.052499
4,ENSG00000260411.2,RP11-420N3.2,processed_transcript,385,0.064924,0.000000e+00,4.640571e-306,Transient,14.523443,346.956583,14.659033,1.008735
...,...,...,...,...,...,...,...,...,...,...,...,...
14137,ENSG00000181097.5,RP11-429J17.2,antisense,72,0.012142,9.995943e-01,9.998996e-01,Static,4.187868,4.167417,4.490930,1.058418
14138,ENSG00000178188.10,SH2B1,protein_coding,609,0.102698,9.997107e-01,9.999228e-01,Static,41.504868,39.775583,40.603006,0.978782
14139,ENSG00000185055.6,EFCAB10,protein_coding,121,0.020405,9.998718e-01,9.999510e-01,Static,8.779311,9.695627,9.716109,1.095794
14140,ENSG00000199753.1,SNORD104,snoRNA,79,0.013322,9.998803e-01,9.999510e-01,Static,5.106727,5.037296,5.284723,1.029148
14141,ENSG00000137070.13,IL11RA,protein_coding,129,0.021754,9.999769e-01,9.999769e-01,Static,9.396940,8.977109,8.926322,0.954735

In [64]:
de_genes_sig = de_genes[de_genes['pval'] < 3e-6]['gene_short_name']

In [34]:
markers = ['NFKBIA', 'SCNN1A', 'CKB', 'PER1', 'CDH16']

In [93]:
count = 0 
n = len(sis_dict['RNA Raw_class_1']['Feature'])
for ix, de_gene in enumerate(de_genes_sig):
    if de_gene in list(sis_dict['RNA Raw_class_1']['Feature']):
        print(ix, de_gene)
        count+= 1
print(f'found {count/n} DE genes')

4 SYT1
9 SLC7A11
13 GCLC
30 SFMBT2
52 ARHGAP26
82 NTN4
104 ATE1
109 CACNA2D1
148 PDE8A
155 CD38
160 RP11-38O23.4
173 PDE1C
192 PACSIN2
193 KCNT2
196 FMNL2
220 LYST
236 MYOF
243 ABTB2
280 FGD4
282 GALNTL5
284 SOGA2
290 PTPRJ
292 TBC1D4
297 ASPH
307 TM4SF1
316 SGCD
326 MKLN1-AS1
329 NRG1
345 RP11-64D22.2
354 LINC00473
358 BMP6
372 GCLM
378 ABHD12
393 RP3-323P13.2
395 EBF1
403 LHFPL2
408 NFKBIA
415 KYNU
420 MBOAT2
431 PTGR1
437 KLHL4
447 MAP7
466 PACS1
473 ABCA13
496 GALNT18
504 IRS2
511 ZBTB20
548 NBEA
556 SLIT3
571 PYGB
581 SYBU
587 NRCAM
601 C11orf49
611 MBNL2
622 ERN1
645 TCF7L2
650 TJP3
652 ROR1
689 GRAMD1B
691 LINC00511
692 NHS
696 MYO10
703 CNTN1
729 PTPRT
739 PBX1
747 ABCC2
760 SLC35F3
769 EPS8
776 TXNRD1
782 NFIA
795 NPAS2
798 RP11-420N3.2
800 DOCK10
801 ITGAV
807 RAB10
816 HDAC4
827 AKAP13
828 EXT1
836 CTC-228N24.1
853 SLC41A2
855 STK32B
856 CA12
874 PLCXD3
876 BTBD11
878 PLCB1
882 IMMP2L
883 PRKCA
894 PVT1
907 LUCAT1
911 RP1-27K12.2
913 SIPA1L3
939 LURAP1L
found 0.9108910891089109 DE genes

In [46]:
mask = sis_dict['RNA Raw_class_1']['Feature'] == markers[0]
sis_dict['RNA Raw_class_1'][mask]

   Feature  % occurrence
87  NFKBIA      0.009709

In [40]:
for m in markers:
    print(m, np.sum(sis_dict['RNA Raw_class_1']['Feature'] == m))

NFKBIA 1
SCNN1A 0
CKB 0
PER1 0
CDH16 0

In [30]:
np.sum(sis_dict['RNA Raw_class_1']['Feature'] == 'N')

0

In [98]:
sis_dict['RNA Raw_class_2'][:10]

Empty DataFrame
Columns: [Feature, % occurrence]
Index: []